.text-48{
    font-size: 48px;
}


.text-36{
    font-size: 36px;
}

.text-16{
    font-size: 16px;
}

.para-color{
    color:#444444;
}

.list-para-color{
    color:#535074;
}

.bookmark-icon-color{
    color:#f058dc;
}

.inventory-icon-color{
    color:#ffb774;
}

.checklist-icon-color{
    color:#589af1;
}

.list-para-color{
    color:#555186;
}
